<footer class="simple-site-footer heaton-footer">
  <div class="container-1400">
    <div class="grid grid-50-50">
        <div class="grid-item">
            
           <div class="heaton-footer-form">
             <h2 class="heading-main">Contact Us</h2>
            <form>
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
            <label for="phone">Phone</label>
            <input type="text" id="phone" name="phone">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <label for="message">Message</label>
            <textarea id="message"></textarea>
            <button class="btn btn-outline hvr-sweep-to-left-dark">Contact Us</button>
            </form>
           </div>
            
        </div>
        <div class="grid-item ">
          <div class="heaton-footer-contact">
            <div class="heaton-footer-contact-logo">
                <img src="/assets/images/logos/hurricane/{{site.logo_white}}" alt="{{ site.title }}"/>
            </div>
                <div class="heaton-footer-contact-address">
                    <p>6930 6th Conc N<br>Amherstburg, ON, N9V 2Y9</h4>
                    <p>
                        E: <a href="mailto:info@hhydrovac.ca" >info@hhydrovac.ca</a><br>
                        T: <a href="tel:519.726.6388" >519.726.6388</a>
                    </p>
                </div>
          </div>
        </div>
    </div>
  </div>
</footer>
<div class="bottom-bar">
    <div class="bottom-bar-container">
      <div class="bottom-bar-select">
        <div class="bottom-bar-select-text mobile-hide">Hurricane Hydrovac is Part of The:</div>
        <div class="selectParent">
          <select aria-label="Our Comapnies">
            <option value="2">Hurricane Group</option>
            <option value="2">Hurricane SMS</option>
            <option value="2">Heaton Sanitation</option>
            <option value="2">Ken Lapain &amp; Sons Ltd.</option>
          </select>
        </div>
      </div>
      <div class="bottom-bar-disclaimer">
        &copy;&nbsp;2020 The Hurricane Group<br>
        Web Design + Development by  <a href="https://www.pureind.com/" target="_blank">Pure Industries</a>
      </div>
    </div>
  </div>
{%- include book-now-form.html -%}
<script type="text/javascript" src="/assets/js/slick.min.js" ></script>
<script type="text/javascript" src="/assets/js/headroom.js" ></script>
<script type="text/javascript" src="/assets/js/headroom-jquery.js" ></script>
<script type="text/javascript" src="/assets/js/aos.js" ></script>
<script type="text/javascript" src="/assets/js/micromodal.min.js" ></script>
{% if include.photoswipe == "true" %}
    <script type="text/javascript" src="/assets/js/photoswipe.min.js" ></script>
    <script type="text/javascript" src="/assets/js/photoswipe-ui-default.min.js" ></script>
    <script type="text/javascript" src="/assets/js/ps-script.js" ></script>
{% endif %}
<script type="text/javascript" src="/assets/js/main.js" ></script>
