<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  <div class="site">
    {%- include header-full-nav.html -%}

    <div class="hero">
      <div class="hero-large-hexagon">
        <div class="hero-large-hexagon-content">
          <h1 class="mobile-large-heading">The Sanitation Experts</h1>
          <p class="padding-top-20">Established in 1964, Heaton Sanitation Ltd. has been serving Windsor, Essex County and Chatham-Kent for well over 55 years in the field of septic and liquid waste removal.</p>
          <p><a href="/services/" class="btn btn-outline hvr-sweep-to-left">Learn More</a></p>
        </div>
        <div class="hero-large-hexagon-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" viewBox="0 0 282.12 1000"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M262.57,428.31,0,0V1000L262.57,569.83C288.64,527,288.64,473,262.57,428.31Z"/></g></g></svg>
        </div>
      </div>
      <div class="hero-right"></div>
    </div>
    <div class="intro-section">
      <div class="intro-section-small">
        <div class="intro-section-small-content" data-aos="fade-up">
          <h2>24 Hour Emergency Service</h2>
        </div>
        <div class="intro-section-small-side">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="100%" height="100%" width="282.175" height="1000" viewBox="0 0 282.175 1000">
            <path d="M19.575,571.7l262.6,428.3V0L19.575,430.2C-6.525,473-6.525,527,19.575,571.7Z" style="fill: #222"/>
          </svg>
        </div>
      </div>
      <div class="intro-section-large">
        <div class="intro-section-large-services" data-aos="fade-up">
          <h3>Services</h3>
          <ul class="unstyled-list">
            <li>Grease Trap Cleaning</li>
            <li>Septic Tank Cleaning</li>
            <li>Holding Tank Cleaning</li>
            <li>Oil Removal</li>
          </ul>
        </div>
        <div class="intro-section-large-text" data-aos="fade-up">
          <h4>Heaton Sanitation</h4>
          <h3>Over 55 Years Experience</h3>
          <p>Established in 1964, Heaton Sanitation Ltd. has been serving Windsor, Essex County and Chatham-Kent for well over 55 years in the field of septic and liquid waste removal.  As part of The Hurricane Group of companies, the Heaton name continues to be regarded as one of the leading sanitation, septic and waste removal service providers in the area.</p>
        </div>
      </div>
    </div>
    <div class="container-1400 section-padding">
      <div class="grid grid-50-50">
        <div class="grid-item flex-center-vertical">
          <div class="content content-first padding-right mid-padding" data-aos="fade-up">
            <h4 class="heading-sub">Septic &amp; Liquid Waster Removal</h4>
            <h2 class="heading-main">Our <span class="outline-text">Services</span></h2>
            <p class="margin-bottom-50 margin-top-50">With a fleet of top of the line equipment and over 55 years of industry experience behind us, its safe to say that we're experts in the sanitation business.  Our services include grease trap, septic and holding tank cleaning as well as septic tank inspections.  We're also Ministry of Environment approved to safely remove and transfer a wide variety of liquid waste materials to approved off-site locations. </p>
            <p class="margin-bottom-50 margin-top-50">Whether its regularly scheduled services or an emergency, our team is ready 24 hours a day, 7 days a week.  For every situation, client, or project, we deliver exceptional service backed by our expert team, at competitive prices in a clean, safe, and efficient manner.  That lends itself to part of the reason that Heaton Sanitation has and continues to be a trusted name in Windsor, Essex County and Chatham-Kent for over 55 years.</p>
             <ul class="icon-list icon-list-arrows">
              <li>Grease Trap Cleaning</li>
              <li>Septic Tank Cleaning</li>
              <li>Septic Tank Inspection</li>
              <li>Holding Tank Cleaning</li>
              <li>Oil Removal</li>
              
            </ul>
          </div>
         
        </div>
        <div class="grid-item flex-center-vertical">
          <div class="hex-grid ps-gallery hex-grid-services">
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
                {% include hex-grid-item.html img_src="/assets/images/hydrovac/hex-bg.jpg" img_alt="Hydro Excavation" linkto="/assets/images/hydrovac/hex-bg.jpg" datasize="1024x1024" hover="true" %}
          </div>
        </div>
      </div>
    </div>
    <div class="flex-half">
      <div class="flex-half-item flex-center-vertical">
        <div class="cover-image">
          <img src="/assets/images/hydrovac/history-photo.jpg" alt="Hurricane Hydrovac History" />
        </div> 
      </div>   
        <div class="flex-half-item flex-center-vertical grey-bg">
          <div class="content padding-100-all mobile-padding-section" data-aos="fade-up">
            <h4 class="heading-sub">A Name You Can Trust</h4>
            <h2 class="heading-main">Our <span class="outline-text">History</span></h2>
            <p class="margin-top-50">Heaton Sanitation Ltd. was established in 1964 by William Heaton. At the time Heaton Sanitation specialized in septic and liquid waste removal. In 1995 Heaton Sanitation Ltd. entered into the hydro excavation business and purchased its first Vactor Flusher unit.  In 2015 Hurricane Hydrovac Services acquired Heaton Sanitation. The combined enterprises of Heaton Sanitation, Hurricane Hydrovac, and Hurricane SMS now operate a fleet of over 35 trucks and offer a variety of services including disposal, sewer and catch basin cleaning, video inspection, and hydro excavation services.  </p>
          </div>
        </div>
      
      </div>
    </div>
    {%- include book-now.html -%}
    <div class="team-section">
       <div class="container-1200">
        <div class="content text-align-center" data-aos="fade-up">
          <h4 class="heading-sub">Experience</h4>
          <h2 class="heading-main">The <span class="outline-text">Team</span></h2>
          <p class="margin-top-50">Our team at Heaton Sanitation includes members with backgrounds in all facets of construction. Locally based in Windsor/London the team brings forward many years of experience, knowledge and diverse skill sets; which allows our company to provide exceptional services for our clients, delivered in a clean and safe fashion.</p>
        </div>
        <div class="team-members">
          <div class="team-members-person team-member-person-single" data-aos="fade-up">
            <div class="person-photo">
              <div class="hex-wrapper">
                <div class="hex">
                  <div class="hex-image"><img src="/assets/images/hurricane-team-photo.jpg" alt="Hurricane Team Member" /></div>
                </div>
              </div>
            </div>
            <div class="person-description">
              <h2>Don Kennedy</h2>
              <h3>General Manager</h3>
              <p>Don became the President of Heaton Sanitation Ltd. when his father Wilfred Heaton retired. Don continued to grow the business through the acquisition of hydrovacs and combination units and as a result, became one of the biggest locally owned hydrovac companies in Windsor Essex.  Don is also well-known for his expertise in septic systems. </p>
            </div>
          </div>
          
        </div>
        <div class="certifications">
          <div class="certifications-item">
            <img src="/assets/images/logos/avetta.png" alt="Avetta" />
          </div>
          <div class="certifications-item">
            <img src="/assets/images/logos/isn.png" alt="ISN" />
          </div>
          <div class="certifications-item">
            <img src="/assets/images/logos/contractor-compliance.png" alt="Contractor Compliance" />
          </div>
          <div class="certifications-item">
            <img src="/assets/images/logos/ontario.png" alt="Contractor Compliance" />
          </div>
        </div>
      </div>
    </div>
    {%- include clients-all.html -%}
    {%- include quote.html -%}
    <div class="flex-half">   
      <div class="flex-half-item flex-center-vertical hurricane-companies">
        <div class="content padding-100-all mobile-padding-section" data-aos="fade-up">
          <h4 class="heading-sub">Hurricane</h4>
          <h2 class="heading-main">Companies</h2>
          <p class="margin-top-50">Heaton Sanitation is part of The Hurricane Group of Companies.  Along with services offered by Heaton Sanitation a variety of complimentary services are also offered through <a href="https://hurricanehydrovac.ca" class="text-link">Hurricane Hydrovac<a/> and <a href="https://hurricanesms.ca" class="text-link">Hurricane SMS</a>.</p>

          <div class="company-listing margin-top-50">
            <h3>Hurricane Hydrovac</h4>
            <h4>Hydro Excavation &amp; Facilities Maintenance</h4>
            {% include arrow-link.html url="https://hurricanehydrovac.ca" text="Visit Hurricane Hydrovac" %}
          </div>
          <div class="company-listing margin-top-50">
            <h3>Hurricane SMS</h4>
            <h4>Sewer Maintenance &amp; Repair</h4>
            {% include arrow-link.html url="https://hurricanesms.ca" text="Visit Hurricane SMS" %}
          </div>
          
        </div>
      </div>
      <div class="flex-half-item flex-center-vertical">
          <div class="slick-wrapper">
              <div class="slick-slider">
                  <div><img src="/assets/images/hydrovac/gallery-placeholder.jpg" /></div>
                  <div><img src="/assets/images/hydrovac/gallery-placeholder.jpg" /></div>
                  <div><img src="/assets/images/hydrovac/gallery-placeholder.jpg" /></div>
              </div>
          </div>
      </div>
    </div>
  </div>
  </div>
  {%- include footer-heaton.html photoswipe="true" -%}
</body>

</html>